/* GENERAL
********************************/

body {
    font-family: 'raleway', serif;
}
a {
    text-decoration: none;
    font-family: 'raleway', serif;
}
#content {
    z-index: 1;
    position: relative;
    background: #232B31;
    margin-bottom: 160px;
}
#landing .menu {
    display: none;
}
#active {
    background: lightgreen;
}


.field_input {
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.25em;
    padding: 0.3125em .8em;
    height: 2.5em;
    width: 100%;
    outline: none;
    border: 0.225em solid #2ecc71;
    background: #543E67;
    z-index: 3;
}
.field {
    text-align: left;
    margin: 10px 0;
}
.field_label {
    display: none
}

.btn-group button {
    border: none;
    background: #1abc9c;
    padding: 8px;
    width: 90px;
    color: white;
    border-radius: 5px;
}

.active {
    background: red;
}


ul {
    list-style-type: none;
    padding: 0;
}

#summery,
#work,
#projects,
#details,
#contact {
    color: white;
    text-align: center;
    width: 100%;
    box-sizing:border-box;
}
#summery,
#projects,
#details,
#contact {
    padding: 16px 30px;
}

i {
    color: #2BFECD;
}

/* HEADING
********************************/

header {
    position: relative;
    z-index: 2;
    width: 100%;
}
.menubar {
    position: fixed;
    top: 0px;
    width: inherit;
    max-height: 50px;
    background: #2e3842;
}
header .menubar {
    top: -50px;
    transition: top .5s;
}
#logo {
    margin-left: 2%;
    display: block;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: bold;
}
/* NAVIGATION
********************************/

nav {
    text-align: center;
    z-index: 2;
    position: fixed;
    top: 50px;
    width: 100%;
    display: none;
    background-color: #21b2a6;
}
nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 100%
}
nav li {
    font-size: 20px;
    padding: 10px;
}
nav a {
    font-weight: 800;
    display: block;
    padding: 10px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 8px;
}
/* FOOTER
********************************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    height: 160px;
    color: #ccc;
    background: #0b1821;
    bottom: 0px;
    width: 100%;
    position: fixed;
    z-index: -1;
}
#footer-first ul li:nth-child(n+3) {
    color: #747C7C;
}
#footer-first {
    float: left;
    margin-left: 20px;
}
#footer-second {
    float: right;
    margin-left: 20px;

}
#footer-content {
    text-align: left;
    float: left;
    margin-top: 20px
}
.foot-list {
    list-style: none;
    line-height: 20px;
}
/* Section: LANDING
********************************/

#landing {
    background: url(/img/background.jpg) no-repeat #16A085;
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 100%;
    max-height: 680px;
}
#landing .menubar {
    position: absolute;
    background: rgba(49, 66, 70, 0.7);
    border: 0;
}
#drive {
    width: 50%;
    margin: 0 auto;
    padding-top: 25vh;
    text-align: center;
}
#drive h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    
}
#drive h2 {
    font-size: 20px;
    font-family: Esteban;
}


/* Section: Summery
********************************/
#summery {
    background: #21B2A6;
}

/* Section: Work
********************************/
#work {
    background: #2A333B;
}
#work div {
    font-size: 0;
}
#work img {
    width: 100%;
}

#work p {
    margin: 16px 16px;
    padding-bottom: 16px;
    font-size: 15px;
}
#work h2 {
    margin-top: 30px;
    font-size: 20px;
}
#work-one {
    background-color: #2A333C;
}
#work-two {
    background-color: #262F36;
}
#work-three {
    background-color: #232B32;
}




/* Section: Details
********************************/
#details {
    background: #505491;
}

#details ul {
    display: flex;
    flex-wrap: wrap;
}


/* Section: Contact
********************************/
#contact {
    background: #543E67;
}
#contact ul li {
    display: inline-block;
}
.twitter {
    background: #3498db;
}
.linkedIn {
    background: #c0392b;
}
.plus {
    background: #2ecc71;
}

/* Text
********************************/

a {
    color: #6ab47b;
}
h1,
h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
nav a,
nav a:visited {
    color: #fff;
}
nav a.selected,
nav a:hover {
    color: #F53357;
}
/* HAMBURGER
********************************/

.hamburger {
    position: relative;
    float: right;
    width: 1em;
    height: 1em;
    font-size: 50px;
    display: block;
    -webkit-transition: background .5s;
    transition: background .5s;
}
.hamburger:hover {
    background: #47384D;
    -webkit-transition: background .5s;
    transition: background .5s;
}
.hamburger>span {
    position: absolute;
    font-size: .3em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: .1em;
    width: 1em;
    background: white;
    transition: all .3s ease-out;
}
.hamburger>span:before,
.hamburger>span:after {
    content: " ";
    width: 100%;
    height: inherit;
    background: inherit;
    position: absolute;
    -webkit-transition: inherit;
    transition: inherit;
}
.hamburger>span:before {
    top: -.4em;
}
.hamburger>span:after {
    top: .4em;
}
.hamburger.x>span {
    width: 1.25em;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.hamburger.x>span:before,
.hamburger.x>span:after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 0;
}