
/*Up to Table*/

@media (min-width: 600px) {

    /* MENU
*****************/

    .hamburger {

        display: none;

    }

    nav {

        text-align: center;

        position: static;

        width: auto;

        height: auto;

        display: inline-block;

        float: right;

        background: none;
        
        margin-right: 40px

    }

    nav ul {

        margin-top: 10px;

        margin-right: 5px;

        margin-bottom: 0px;

    }

    nav li {

        display: inline-block;

        padding: 0px;

    }

    nav a {

        display: inline;

        padding: 0px 5px;

        font-size: 1.1rem;

        border: none;//

    }

    #logo {

        display: inline;

        float: left;

    }

    #landing .menu {

        display: inline-block;

    }

    /* PAGE: LANDING
*****************/
    #summery p,
    #details li,
    #contact p{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    #contact form{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #details li {
    width: 50%;
}

}

@media (min-width: 900px) {
    #sidebar{
        width: 45px;
   height: 90px;
   position: fixed;
   left: 0px;
   top: 200px;
   border: 1px solid black;
    }
    .work-image{
        width: 45%;
    }
    .work-text{
        width: 55%;
        text-align: none;
    }
    #work section {
        display: flex;
    }
    .work-text h2 {
    padding-top: 12%;
    }
    
    #details li {
    width: 33%;
}
    
    
}